# Kinect 1
kinect1/.venv/

# Kinect 2
kinect2/.venv/

# RealSense
RealSense/.venv/

# ORBBEC
ORBBEC/code/.venv

# LAR Datset - Point Clouds too big 
ORBBEC/data/LAR/ORBBEC/Front/RGBD/pointcloud.ply
ORBBEC/data/LAR/ORBBEC/Side/RGBD/pointcloud.ply
ORBBEC/results/LAR/transformed.ply
ORBBEC/results/LAR/merged_pointcloud.ply
ORBBEC/results/LAR/final_results/Monocolour_merged.ply
ORBBEC/results/LAR/final_results/RGB_merged.ply

ORBBEC/data/LAR2
ORBBEC/results/LAR2

ORBBEC/code/pipeline