# Kinect 1
kinect1/.venv/

# Kinect 2
kinect2/.venv/

# RealSense
RealSense/.venv/

# Point Cloud too big
ORBBEC/dataset/ORBBEC/Front/RGBD/pointcloud.ply
ORBBEC/dataset/ORBBEC/Side/RGBD/pointcloud.ply
ORBBEC/transformed.ply


# Temporary files
ORBBEC/downsample.py

