# Kinect 1
kinect1/.venv/

# Kinect 2
kinect2/.venv/

# RealSense
RealSense/.venv/

# LAR Datset - Point Cloud too big 
ORBBEC/data/LAR_dataset/ORBBEC/Front/RGBD/pointcloud.ply
ORBBEC/data/LAR_dataset/ORBBEC/Side/RGBD/pointcloud.ply
ORBBEC/results/LAR_dataset/transformed.ply
ORBBEC/results/LAR_dataset/merged_pointcloud.ply
ORBBEC/results/LAR_dataset/final_results/Monocolour_merged.ply
ORBBEC/results/LAR_dataset/final_results/RGB_merged.ply


